<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 
		WAS가 생성한 커넥션풀을 JNDI로 찾음
	 -->
	<jee:jndi-lookup 
	id="dataSource"
	jndi-name="java:comp/env/oraclexe"/>
	
	<!-- SqlSessionFactory 설정
	p:dataSource-ref : 커넥션풀 의존성 주입
	p:configLocation : mybatis-config.xml 경로 설정
	 -->
	<bean
	id="sqlSessionFactory"
	p:dataSource-ref="dataSource"
	p:configLocation="/WEB-INF/mybatis-config.xml"
	class="org.mybatis.spring.SqlSessionFactoryBean"/>
	
	<!-- SqlSession 설정 -->
	<bean id="sqlSession"
	c:sqlSessionFactory-ref="sqlSessionFactory"
	 class="org.mybatis.spring.SqlSessionTemplate"/>

	<!-- DAO -->
	<bean 
	id="usersDAO"
	p:session-ref="sqlSession"
	class="dao.UsersDAOImpl"/>
	<bean
	id="genresDAO"
	p:session-ref="sqlSession"
	class="dao.GenresDAOImpl"
	/>
	<bean
	id="moviesDAO"
	p:session-ref="sqlSession"
	class="dao.MoviesDAOImpl"/>
	<!-- Service -->
	<bean 
	id="usersService"
	p:userDAO-ref="usersDAO"
	class="service.UsersServiceImpl"/>
	<bean
	id="genresService"
	p:genresDAO-ref="genresDAO"
	class="service.GenresServiceImpl"
	/>
	<bean
	id="moviesService"
	p:moviesDAO-ref="moviesDAO"
	class="service.MoviesServiceImpl"/>	
</beans>
